body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  background-color: #000000;
  background: repeating-linear-gradient(90deg, #000000, #000000 30px, #101010 30px, #101010 80px);
  color: #FFFFFF;
}

body:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), color-stop(50%, #17171A));
  background-image: linear-gradient(#000000 50%, #17171A 50%);
  background-size: 100% 10px;
  opacity: 0.4;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  position: relative;
  z-index: 5;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link,
address,
button,
svg {
  position: relative;
  z-index: 5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    max-width: 1290px;
  }
}

.header {
  padding-top: 31px;
  padding-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1320px) {
  .header {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.header__icon--phone,
.header__icon--geolocation {
  fill: #FFFFFF;
  width: 20px;
}
@media screen and (min-width: 768px) {
  .header__icon--phone,
.header__icon--geolocation {
    width: 25px;
  }
}
@media screen and (min-width: 1320px) {
  .header__icon--phone,
.header__icon--geolocation {
    width: 40px;
  }
}

.header__icon--phone {
  margin-right: 10px;
}
@media screen and (min-width: 1320px) {
  .header__icon--phone {
    margin-right: 15px;
  }
}

.header__icon--geolocation {
  margin-right: 10px;
}
@media screen and (min-width: 1320px) {
  .header__icon--geolocation {
    margin-right: 15px;
  }
}

.header__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .header__number {
    font-size: 20px;
  }
}

.header__wrap--phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__whatsapp {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1320px) {
  .header__whatsapp {
    font-size: 12px;
  }
}

nav {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__address {
    position: absolute;
    top: 27px;
    left: 145px;
  }
}
@media screen and (min-width: 1320px) {
  .header__address {
    top: 26px;
    left: 413px;
  }
}

.header__address--item {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .header__address--item {
    font-size: 14px;
  }
}
@media screen and (min-width: 1320px) {
  .header__address--item {
    font-size: 16px;
  }
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 48px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 100px;
  }
}
@media screen and (min-width: 1320px) {
  .header__logo {
    width: 110px;
  }
}

.header__address--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address--item:first-child {
  margin-bottom: 5px;
}

.header__address--link:hover,
.header__address--link:focus,
.header__number:hover,
.header__number:focus,
.header__whatsapp:hover,
.header__whatsapp:focus {
  color: #F9BA50;
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 277px;
  height: 55px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 117%;
  text-transform: uppercase;
  color: inherit;
  background-color: #F9BA50;
  border-radius: 0px 40px 40px 0px;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 1px 1px 0 rgb(226, 221, 74), -1px -1px 0 rgb(134, 145, 65), 1px -1px 0 rgb(111, 127, 40), -1px 1px 0 rgb(215, 249, 77), 4px 4px 8px rgb(132, 127, 38);
          box-shadow: 1px 1px 0 rgb(226, 221, 74), -1px -1px 0 rgb(134, 145, 65), 1px -1px 0 rgb(111, 127, 40), -1px 1px 0 rgb(215, 249, 77), 4px 4px 8px rgb(132, 127, 38);
}

.btn__arrow {
  margin-right: 54px;
  fill: #FFFFFF;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  background-image: url(../images/hero-mob-min.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-mob@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 75px;
    background-image: url(../images/hero-tablet-min.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-tablet@2x-min.png);
  }
}
@media screen and (min-width: 1320px) {
  .hero {
    padding-bottom: 30px;
    padding-top: 80px;
    background-image: url(../images/hero-desktop-min.png);
  }
}
@media screen and (min-width: 1320px) and (min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (min-resolution: 192dpi), screen and (min-width: 1320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-desktop@2x-min.png);
  }
}

.hero__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    width: 222px;
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__subtitle {
    width: 330px;
    margin-bottom: 154px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
  }
}

.hero__titles {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__titles {
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 74px;
    margin-bottom: 197px;
  }
}

.hero__titles--component {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__titles--component {
    font-size: 64px;
    text-align: center;
  }
}
@media screen and (min-width: 1320px) {
  .hero__titles--component {
    font-size: 72px;
  }
}

@media screen and (min-width: 768px) {
  .hero__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 71px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1320px) {
  .hero__down {
    gap: 493px;
  }
}

.hero__description {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
@media screen and (min-width: 768px) {
  .hero__description {
    margin-bottom: 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 1320px) {
  .hero__description {
    width: 410px;
    font-size: 18px;
  }
}

.about {
  padding-top: 80px;
}
@media screen and (min-width: 1320px) {
  .about {
    padding-top: 130px;
  }
}

.about__images {
  width: 320px;
  height: 371px;
  position: relative;
  background-image: url(../images/about-mob-min.png);
  background-size: 320px 300px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__images {
    background-image: url(../images/about-mob@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .about__images {
    width: calc((100% - 20px) / 2);
    height: 612px;
    background-image: url(../images/about-tablet-min.png);
    background-size: 354px 436px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about__images {
    background-image: url(../images/about-tablet@2x-min.png);
  }
}
@media screen and (min-width: 1320px) {
  .about__images {
    width: calc((100% - 119px) / 2);
    height: 953px;
    background-image: url(../images/about-desktop-min.png);
    background-size: 650px 800px;
  }
}
@media screen and (min-width: 1320px) and (min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (min-resolution: 192dpi), screen and (min-width: 1320px) and (min-resolution: 2dppx) {
  .about__images {
    background-image: url(../images/about-desktop@2x-min.png);
  }
}

.about__circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 181px;
  left: 152px;
  border: 10px solid transparent;
  outline: 2px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .about__circle {
    top: 363px;
    left: 137px;
  }
}
@media screen and (min-width: 1320px) {
  .about__circle {
    width: 384px;
    height: 384px;
    top: 493px;
    left: 239px;
    border: 18px solid transparent;
  }
}

.about__title--mob {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about__title--mob {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .about__container {
    gap: 119px;
  }
}

@media screen and (min-width: 768px) {
  .about__description {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1320px) {
  .about__description {
    width: calc((100% - 119px) / 2);
  }
}

.about__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  .about__title {
    display: none;
  }
}
@media screen and (min-width: 1320px) {
  .about__title {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 72px;
  }
}

.about__text {
  height: 144px;
  overflow: hidden;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
}
@media screen and (min-width: 768px) {
  .about__text {
    height: 297px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1320px) {
  .about__text {
    height: 400px;
    margin-bottom: 90px;
    font-size: 18px;
  }
}

.trainers {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .trainers {
    padding-top: 79px;
  }
}

.trainers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .trainers__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .trainers__list {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .trainers__item {
    width: 50%;
  }
}

@media screen and (min-width: 1320px) {
  .trainers__item:first-child .trainers__caption {
    display: none;
  }
}

.trainers__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .trainers__title {
    margin-bottom: 60px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1320px) {
  .trainers__title {
    margin-bottom: 100px;
    font-size: 72px;
  }
}

.trainers__subtitle {
  position: relative;
  margin-bottom: 20px;
  margin-top: -18px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .trainers__subtitle {
    font-size: 36px;
  }
}
@media screen and (min-width: 1320px) {
  .trainers__subtitle {
    font-size: 64px;
  }
}

.trainers__subtitle > span {
  color: #FFFFFF;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: transparent;
}

.trainers__subtitle > span::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-text-stroke: 1px #FFFFFF;
}

.trainers__caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .trainers__caption {
    font-size: 16px;
  }
}
@media screen and (min-width: 1320px) {
  .trainers__caption {
    font-size: 18px;
  }
}

.kinds {
  padding-top: 60px;
}

.kinds__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .kinds__title {
    margin-bottom: 60px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1320px) {
  .kinds__title {
    margin-bottom: 100px;
    font-size: 72px;
  }
}

@media screen and (min-width: 768px) {
  .kinds__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1320px) {
  .kinds__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.kinds__item {
  position: relative;
}
@media screen and (min-width: 768px) {
  .kinds__item {
    width: 50%;
  }
}

.kinds__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
@media screen and (min-width: 1320px) {
  .kinds__caption {
    font-size: 48px;
  }
}

.kinds__caption::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-text-stroke: 1px #FFFFFF;
  text-align: center;
}

.schedule {
  padding-top: 60px;
}

.schedule__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 768px) {
  .schedule__wrapper {
    -ms-flex-preferred-size: calc((100% - 100px) / 2);
        flex-basis: calc((100% - 100px) / 2);
  }
}
@media screen and (min-width: 1320px) {
  .schedule__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    -ms-flex-preferred-size: calc((100% - 240px) / 3);
        flex-basis: calc((100% - 240px) / 3);
  }
}

.schedule__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .schedule__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1320px) {
  .schedule__list {
    gap: 30px;
  }
}

.schedule__title {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (min-width: 768px) {
  .schedule__title {
    margin-bottom: 60px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1320px) {
  .schedule__title {
    margin-bottom: 100px;
    font-size: 72px;
  }
}

.schedule__period {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (min-width: 1320px) {
  .schedule__period {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.schedule__period--week {
  margin-left: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.schedule__description {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
@media screen and (min-width: 1320px) {
  .schedule__description {
    font-size: 18px;
  }
}

.schedule__price {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}
@media screen and (min-width: 1320px) {
  .schedule__price {
    font-size: 36px;
  }
}

.schedule__price--old {
  margin-left: 30px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
@media screen and (min-width: 1320px) {
  .schedule__price--old {
    font-size: 24px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 280px;
  height: 50px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  border: none;
  color: inherit;
  border-radius: 0px 40px 40px 0px;
  cursor: pointer;
  background-color: #F9BA50;
}
@media screen and (min-width: 1320px) {
  .button {
    font-weight: 500;
    font-size: 18px;
    line-height: 118%;
  }
}

.schedule__arrow {
  margin-left: 74px;
  margin-right: 20px;
  fill: #FFFFFF;
}

.instagram {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .instagram {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1320px) {
  .instagram {
    padding-top: 150px;
  }
}

.instagram__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .instagram__title {
    margin-bottom: 60px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1320px) {
  .instagram__title {
    margin-bottom: 100px;
    font-size: 72px;
  }
}

.instagram__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 1320px) {
  .instagram__list {
    gap: 30px;
  }
}

.instagram__item {
  width: 100%;
  width: calc((100% - 20px) / 2);
}
@media screen and (min-width: 1320px) {
  .instagram__item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (max-width: 1319px) {
  .instagram__item-end {
    display: none;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1320px) {
  .footer {
    padding-top: 150px;
    padding-bottom: 139px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1320px) {
  .footer__social {
    width: 410px;
  }
}

.footer__logo {
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.footer__description {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .footer__description {
    font-size: 16px;
    margin-bottom: 65px;
  }
}
@media screen and (min-width: 1320px) {
  .footer__description {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.footer__social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 44px;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .footer__social--list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__social--link {
  fill: #FFFFFF;
  display: block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social--logo {
  width: 23px;
  height: 23px;
}
@media screen and (min-width: 768px) {
  .footer__social--logo {
    width: 25px;
    height: 25px;
  }
}

.footer__social--link:hover,
.footer__social--link:focus {
  fill: #F9BA50;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 1319px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav--title {
  margin-top: 40px;
  margin-bottom: 63px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.footer__nav--link {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__nav--link:hover,
.footer__nav--link:focus {
  color: #F9BA50;
}

.footer__nav--item:not(:last-child) {
  margin-bottom: 30px;
}

.footer__address {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1320px) {
  .footer__address {
    width: 410px;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .footer__wrapper {
    gap: 149px;
  }
}

.footer__wrap::after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 1320px) {
  .footer__wrap::after {
    display: none;
  }
}

.footer__address--title {
  margin-top: 40px;
  margin-bottom: 63px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
@media screen and (max-width: 359px) {
  .footer__address--title {
    display: none;
  }
}

.footer__address--item:not(:last-child) {
  margin-bottom: 30px;
}

.footer__address--subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  color: #F9BA50;
}

.footer__address--link {
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__address--link {
    font-size: 16px;
  }
}

.footer__address--link:hover,
.footer__address--link:focus {
  color: #F9BA50;
}

.footer__address--address:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 1320px) {
  .footer__address--address:not(:last-child) {
    margin-bottom: 36px;
  }
}

.footer__policy--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer__policy:last-child {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .footer__policy:last-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 1320px) {
  .footer__policy:last-child {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-650px);
            transform: translateX(-650px);
    top: 514px;
  }
}

@media screen and (max-width: 767px) {
  .footer__policy:first-child {
    display: none;
  }
}
@media screen and (min-width: 1320px) {
  .footer__policy:first-child {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */