.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 277px;
    height: 55px;
    padding: 0;
    
    @include font(500, 18px, 117%);
text-transform: uppercase;
    color: inherit;
    background-color: $color-accent;
    border-radius: 0px 40px 40px 0px;
    border: none;

    cursor: pointer;
transition: background-color 250ms $timing-function, color 250ms $timing-function;
}
.btn-primary:hover,
.btn-primary:focus{
background-color: $color-text;
color: $color-bgd-second;
fill: $color-bgd-second;
}
.btn__arrow{
    margin-right: 54px;
    fill: $color-text;
    transition: fill 250ms $timing-function;
}
.btn-primary:hover .btn__arrow,
.btn-primary:focus .btn__arrow{
    
    fill: $color-bgd-second;
}