.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 277px;
    height: 55px;
    padding: 0;
    
    @include font(500, 18px, 117%);
text-transform: uppercase;
    color: inherit;
    background-color: $color-accent;
    border-radius: 0px 40px 40px 0px;
    border: none;


   

    cursor: pointer;
transition: transform 250ms $timing-function, box-shadow 250ms $timing-function;
}
.btn-primary:hover,
.btn-primary:focus{
    transform: scale(1.03);
box-shadow: 1px 1px 0 rgba(226, 221, 74, 1), -1px -1px 0 rgba(134, 145, 65, 1), 1px -1px 0 rgba(111, 127, 40, 1), -1px 1px 0 rgba(215, 249, 77, 1), 4px 4px 8px rgba(132, 127, 38, 1);
}
.btn__arrow{
    margin-right: 54px;
    fill: $color-text;
}