.container{
  padding-left: 15px;
  padding-right: 15px;
       margin-left: auto;
       margin-right: auto;
    //    outline: 1px solid red;
@include mobile {
        max-width: 320px;
    }

    @include tablet {
        max-width: 728px;
    }

    @include desktop {
        max-width: 1290px;
    }
}
section{
    // outline: 1px solid blue;
}