body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  background-color: $color-bgd;

  background: repeating-linear-gradient(
    90deg,
    $color-bgd,
    $color-bgd 30px,
    #101010 30px,
    #101010 80px
  );

  color: $color-text;
}
body:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient($color-bgd 50%, $color-bgd-second 50%);
  background-size: 100% 10px;

  opacity: 0.4;
  z-index: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  position: relative;
  z-index: 5;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.link,
address,
button,
svg {
  position: relative;
  z-index: 5;
}


