.footer {
  padding-top: 60px;
  padding-bottom: 23px;
  @include tablet{
    padding-top: 80px;
  }
}
.footer__social {
    @include tablet {
            width: calc((100% - 20px) / 2);
        }
}

.footer__logo {
  width: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  @include tablet{
    margin-left: 0;
    margin-bottom: 20px;
  }

}

.footer__description {
  margin-bottom: 40px;
  @include font(500, 14px, 150%);
  @include tablet{
    font-size: 16px;
    margin-bottom: 65px;
  }
}

.footer__social--list {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-bottom: 41px;
  @include tablet{
    justify-content: flex-start;
  }
}

.footer__social--item {
   

}

.footer__social--link {
  fill: $color-text;
  display: block;
  
  transition: fill 250ms $timing-function, transform 250ms $timing-function;
}

.footer__social--logo {
    width: 23px;
  height: 23px;
  @include tablet{
  width: 25px;
  height: 25px;
}
}
.footer__social--link:hover,
.footer__social--link:focus {
  fill: $color-accent;
  transform: scale(1.5);
}

.footer__nav {
  @media screen and (max-width: 1319px) {
    display: none;
  }
}

.footer__nav--title {
}

.footer__nav--list {
}

.footer__nav--item {
}
.footer__address {
  margin-bottom: 40px;
  @include tablet{
    width: calc((100% - 20px) / 2);
  }
}
.footer__wrapper{
@include tablet{
    display: flex;
    gap: 20px;
}
}
.footer__wrap::after {
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgba($color-text, $alpha: 0.5);
}
.footer__address--title {
  @media screen and (max-width: 359px) {
    display: none;
  }
  margin-top: 40px;
  margin-bottom: 63px;
  @include font(500, 20px, 120%);
}

.footer__address--list {
}

.footer__address--item {
}
.footer__address--item:not(:last-child) {
  margin-bottom: 30px;
}
.footer__address--subtitle {
  margin-bottom: 15px;
  @include font(700, 12px, 117%);
  text-transform: uppercase;
  color: $color-accent;
}

.footer__address--link {
  @include font(700, 14px, 114%);
  transition: color 250ms $timing-function;
  @include tablet{
    font-size: 16px;
  }
}
.footer__address--link:hover,
.footer__address--link:focus {
    color: $color-accent;
}
.footer__address--address:not(:last-child) {
  margin-bottom: 15px;
}
.footer__policy--list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.footer__policy:last-child {
  margin-top: 20px;
  @include font(400, 16px, 150%);
  @include tablet{
   margin-top: 0;
  }
}
.footer__policy:first-child{
    @media screen and (max-width:767px){
      display: none;  
    }
}