.header__icon--phone,
.header__icon--geolocation
{
  fill: $color-text;
  width: 20px;
  @include tablet{
    width: 25px;
  }
  @include desktop{
    width: 40px;
  }
}

.header__number {
  @include font(700, 16px, 150%);
 
}

.header__whatsapp {
  @include font(400, 10px, 150%);
  color: inherit;
}
.header__address {
  @include font(500, 13px, 150%);
}
