.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  
  background-image: url(../images/hero-mob-min.png);
background-repeat: no-repeat;
  background-position: center;
  @include retina {
    background-image: url(../images/hero-mob@2x-min.png);
  }
  @include tablet {
    padding-top: 75px;
    background-image: url(../images/hero-tablet-min.png);
    @include retina {
      background-image: url(../images/hero-tablet@2x-min.png);
    }
  }

  @include desktop {
    padding-bottom: 30px;
    padding-top: 80px;
    background-image: url(../images/hero-desktop-min.png);

    @include retina {
      background-image: url(../images/hero-desktop@2x-min.png);
    }
  }
}

.hero__subtitle {
  margin-bottom: 30px;
  @include font(500, 14px, 130%);
  @include tablet {
    @include font(700, 16px, 130%);
    width: 222px;
    margin-bottom: 77px;
  }
  @include desktop {
    width: 330px;
    margin-bottom: 154px;
    @include font(500, 24px, 130%);
  }
}

.hero__titles {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 90px;
  }
  @include desktop {
    display: flex;
    gap: 74px;
    margin-bottom: 197px;
  }
}

.hero__titles--component {
  @include font(700, 44px, 120%);
  text-transform: uppercase;
  @include tablet {
    font-size: 64px;
    text-align: center;
  }
  @include desktop {
    font-size: 72px;
  }
}
.hero__down {
  @include tablet {
    display: flex;
    gap: 71px;
    align-items: center;
  }
  @include desktop {
    gap: 493px;
  }
}

.hero__description {
  margin-bottom: 60px;
  @include font(500, 14px, 120%);
  @include tablet {
    margin-bottom: 0;
    font-size: 16px;
  }
  @include desktop {
    width: 410px;
    font-size: 18px;
  }
}
