// .schedule {}

.schedule__title {
  text-transform: uppercase;
  @include font(700, 24px, 120%);
}

.schedule__period {
  margin-bottom: 30px;
  @include font(700, 24px, 120%);
}
.schedule__period--week {
  margin-left: 64px;
  @include font(400, 16px, 120%);
}
.schedule__description {
  margin-bottom: 40px;
  @include font(500, 14px, 150%);
}

.schedule__price {
  margin-bottom: 30px;
  @include font(700, 30px, 120%);
}
.schedule__price--old {
  margin-left: 30px;
  text-decoration-line: line-through;
  @include font(700, 18px, 120%);
}
.button {
  display: flex;
  align-items: center;

  min-width: 280px;
  height: 50px;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;

  text-transform: uppercase;
  border: none;
  color: inherit;
  border-radius: 0px 40px 40px 0px;
  cursor: pointer;
  background-color: $color-accent;
}
.schedule__arrow {
  margin-left: 74px;
  margin-right: 20px;
  fill: $color-text;
}

