.trainers {
  padding-top: 60px;
@include tablet{
  padding-top: 79px;
}
}
.trainers__list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet {
    flex-direction: row;
    gap: 20px;
  }

  @include desktop {
    gap: 30px;
  }
}
.trainers__item{
  @include tablet{
     width: calc(100% / 2);
  }
 
}
.trainers__item:first-child .trainers__caption{
  @include desktop{
    display: none;
  }
}
.trainers__title {
  margin-bottom: 40px;
  @include font(700, 24px, 120%);
  text-transform: uppercase;
  @include tablet{
    margin-bottom: 60px;
    font-size: 36px;
  }
  @include desktop{
    margin-bottom: 100px;
    font-size: 72px;
  }
}

.trainers__subtitle {
    position: relative;
  margin-bottom: 20px;
  margin-top: -18px;
  @include font(700, 30px, 120%);
  text-transform: uppercase;
@include tablet{
  font-size: 36px;
}
@include desktop{
  font-size: 64px;
}
}
.trainers__subtitle>span{
color: $color-text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: transparent;    
}
.trainers__subtitle>span::before{
content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    -webkit-text-stroke: 1px $color-text;
}
.trainers__caption {
  @include font(500, 14px, 150%);
  @include tablet{
  font-size: 16px;
  }
  @include desktop{
    font-size: 18px;
  }
}
